# Rohlík.cz Account Credentials
# Vyplňte vaše přihlašovací údaje pro Rohlík.cz
RHL_Mail=""
RHL_Pass=""

# Volitelné: Manuální Session Cookie (v případě, že Cloudflare na VPS blokuje automatické přihlášení)
# RHL_Cookie='JSESSIONID="node0..."; PHPSESSION=...'

# Web Server Port
PORT=5050
